<section data-ng-controller="BarsListController" data-ng-init="find()">
    <div class="page-header">
    <h1>Bars</h1>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <ckchart chartp="chartPlot" layout="layout"></ckchart>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <table class="table table-hover table-bordered">
            <tbody>
              <tr>
                <td>Market open Hour</td>
                <td>
                  <span class="badge">{{dailyResult.openTime | date:'shortTime'}}</span>
                </td>              
              </tr>
              <tr>
                <td>Market close Hour</td>
                <td>
                  <span class="badge">{{dailyResult.closeTime | date:'shortTime'}}</span>
                </td>
              </tr>
              <tr>
                <td>Deals closed</td>
                <td>
                  <span class="badge">{{dailyResult.closedDeals}}</span>
                </td>
              </tr>
              <tr>
                <td>Number of open Contracts D2</td>
                <td>
                  <span class="badge">{{dailyResult.contractAmountD2}}</span>
                </td>
              </tr>
              <tr>
                <td>Number of open Contracts D3</td>
                <td>
                  <span class="badge">{{dailyResult.contractAmountD3}}</span>
                </td>
              </tr>
              <tr>
                <td>Number of open Contracts D4</td>
                <td>
                  <span class="badge">{{dailyResult.contractAmountD4}}</span>
                </td>
              </tr>
              <tr>
                <td>Daily profit 2D</td>
                <td>
                  <span class="badge">{{dailyResult.profitD2}}</span>
                </td>
              </tr>
              <tr>
                <td>Daily profit 3D</td>
                <td>
                  <span class="badge">{{dailyResult.profitD3}}</span>
                </td>
              </tr>
              <tr>
                <td>Daily profit 4D</td>
                <td>
                  <span class="badge">{{dailyResult.profitD4}}</span>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>



    
</section>
