<section>
  <div class="page-header">
    <h1>Candlestick times</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="candlestick-time in vm.candlestickTimes"
       data-ui-sref="candlestickTimes.view({ candlestick-timeId: candlestick-time._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="candlestickTime.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="candlestickTime.user" data-ng-bind="candlestickTime.user.displayName"></span>
        <span data-ng-if="!candlestickTime.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="candlestick-time.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.candlestickTimes.$resolved && !vm.candlestickTimes.length">
    No Candlestick times yet, why don't you <a data-ui-sref="candlestickTimes.create">create one</a>?
  </div>
</section>
